.chat {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  height: 100%;
  color: white;
}

.chat img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.chat h3 {
  font-style: italic;

}

.chat li {
  font-family: 'Poppins', sans-serif;
}