@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Oswald:wght@300&family=Playfair+Display&family=Poppins:wght@200&family=Source+Serif+Pro:ital,wght@0,200;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: red;
}

body {
  background: black;
  /* background: var(--bg); */
}

.btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 40px;
  margin: 10px;
}

/* [data-theme='dark'] */
.dark {
  --bg: black;
  --color: white;
  /* --bg-color: orange; */

}

/* [data-theme='light']  */
.light {
  --bg: rgb(162, 160, 160);
  --color: black;
  /* --bg-color: blue; */
}

.button_theme {
  position: absolute;
  top: 2%;
  left: 1%;
  width: 150px;
  height: 30px;
  background: none;
  border: none;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Serif Pro', serif; */